data/
.venv/
**/__pycache__
**/.hypothesis
**/logs
**/.log
**/wandb
**/models/
**/model/
**/figures
.env
artifacts/
.dashboard-venv/
.serve-venv/
docker-commands
docker_push_commands.png
**/*.pkl
.mypy_cache/
.dockerfile.temp
mlruns/