# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-docstring-first
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: requirements-txt-fixer
  # - repo: https://github.com/psf/black
  #   rev: stable
  #   hooks:
  #   - id: black
  #   language_version: python3.9.16
  # - repo: https://github.com/pycqa/isort
  #   rev: 5.9.3
  #   hooks:
  #     - id: isort
  #       language_version: python3.9.16
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 6.0.0
  #   hooks:
  #   -   id: flake8
